.app-background
	@extends .layer
	background linear-gradient(to right , #ECC0AA, #EDB5F8)
	#bg-animation
		absolute top left right bottom
		z-index 10


.app-logo
	font-size 24px
	absolute top 50% left 50%
	margin-left -100px
	margin-top -100px
	text-align center
	display block
	.title
		font-family baseFontThin
		color #fff
		font-size 48px

	.btn.btn-default
		display none
		font-size 18px
		background none
		border-color rgba(#fff, 0.8)
		padding 10px 15px 8px 15px
		border-radius 2px
		font-family baseFontLight
		text-transform uppercase
		color rgba(#fff, 0.75)