//
// Variables
// ------------------------------------------------------

//
// Colors
// Variable names are separated with a underscore to avoid
// confusion with css properties
// ------------------------------------------------------

// Base Colors
color_blue = #33b5e5
//color_red = #FF4444
color_red = #CC2D2D
color_green = #33DC49
color_purple = #AA66CC
color_pink = #ED3BA6
color_orange = #F57A35
color_yellow = #F4B400


color_info = #5bc0de
color_success = #5cb85c
color_danger = #d9534f
color_warning = #f0ad4e
color_primary = #428bca




// Grays
gray_darker = #222
gray_dark = #555
gray = #999
gray_light = #BBB
gray_ligher = #DDD
fadeColor = rgba(#fff, 0.4)


colors_array = ('blue' color_blue) ('green' color_green) ('red' color_red) ('purple' color_purple) ('pink' color_pink) ('orange' color_orange) ('yellow' color_yellow)
colors_status = ('info' color_info) ('success' color_success) ('danger' color_danger) ('warning' color_warning) ('primary' color_primary)

//
// Fonts
// Select the base font to use
// Add Custom WebFonts in fontfaces.styl
// Available Fonts:
// 1. Source Sans Pro 						# _use-font-sourcesanspro()
// 2. Roboto											# _use-font-roboto()
// 3. BonvenoCF										# _use-font-bonvenocf()
// 4. Caviar Dreams								# _use-font-caviardreams()
// 5. Titillium										# _use-font-titillium()
// 6. Quicksand										# _use-font-quicksand()
// ------------------------------------------------------

// Base Font
//_use-font-sourcesanspro()
/*baseFont = "RobotoRegular"
baseFontLight = "RobotoLight"
baseFontSemibold = "RobotoMedium"
baseFontThin = "RobotoThin"
baseFontBold = "RobotoBold"
baseFontXBold = "RobotoBlack"*/

baseFont = "SourceSansProRegular"
baseFontLight = "SourceSansProLight"
baseFontSemibold = "SourceSansProSemibold"
baseFontThin = "SourceSansProExtraLight"
baseFontBold = "SourceSansProBold"
baseFontXBold = "SourceSansProBlack"


/*baseFontXThin = "LatoHairline"
baseFontThin = "LatoThin"
baseFontLight = "LatoLight"
baseFont = "Lato"
baseFontMedium = "LatoMedium"
baseFontSemibold = "LatoSemibold"
baseFontBold = "LatoHeavy"
baseFontXBold = "LatoBlack"*/




dark_base = #222222
dark_widget = #1a1a1a
dark_border = #0c0c0c
dark_font = #ccc
dark_widget_font = #aaa

light_base = #fff
light_widget = #fafafa
light_border = darken(#fff, 12%)
light_font = #777
light_widget_font = #aaa

theme_base = light_base
theme_widget = light_widget
theme_border = light_border
theme_font = light_font
theme_widget_font = light_widget_font

/*theme_base = dark_base
theme_widget = dark_widget
theme_border = dark_border
theme_font = dark_font
theme_widget_font = dark_widget_font*/

color_base = color_blue
color_base_border = darken(color_base, 10%)



header_height = 80px
header_background_color = theme_widget
header_font_color = theme_widget_font