doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title muse
		link(rel='stylesheet', type='text/css', href='./css/style.css', data-css='main')
		script(type='text/javascript', src='./vendor/requirejs/require.js', data-main='./js/main')
	body
		header.app-header
		section.app-content
		section.app-background